<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipie</title>
    <script src="./app.js" defer></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="../js/index.js" defer></script>
    <script src="../js/auth.js" defer></script>
    <script src="../js/format.js" defer></script>
    <link rel="stylesheet" href="../style/scss/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <!-- Flash MessagesetUp Code -->
    <% if(successFlash) { %>
        <div class="alert alert-success alert-dismissible  show" role="alert">
            <strong>Hey! <%= userData.username %> 👋</strong><%= successFlash %>
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
    <% }%>
    <!-- Nav Bar Code -->
    <nav>
        <div class="history" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
            <a  class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Search History" href=""><i class="fa-solid fa-clock-rotate-left"></i>History</a>
        </div>
        <div class="profile_pic">
            <img src="https://cdn.freebiesupply.com/logos/thumbs/2x/my-recipes-logo.png" alt="Pic">
            <p>Hey! <%= userData.username %> 👋</p>
        </div>
        <div class="logoutButton">
            <a href="/logout">logout</a>
        </div>
        <div class="settings dropdown">
            <button  data-bs-toggle="dropdown"  aria-expanded="false" style="border: none; background: transparent;" >
                <i  data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="settings" class="fa-solid fa-gear">
                </i>
            </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/profile/<%= userData._id %>">Edit Profile</a></li>
                    <li><a class="dropdown-item" href="viewProfile">View Profile</a></li>
                    <li><a class="dropdown-item" href="/logout">logout</a></li>
                </ul>
        </div>
    </nav>


<!--? History Toggleing -->

<!-- <button >Enable body scrolling</button> -->

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasRightLabel" style="font-weight: 600; font-size: 1.7rem;">Search History⏱️</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul id="searchHistory">
            <% searchHistory.forEach((item, index) => { %>
                <div id="hist">
                    <p class="d-inline-flex gap-1">
                        <a style="background: #ebe6e6; border: none; color: black;" id="history<%= index %>" class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <%= extractDate(item.timestamp) %>
                        </a>
                      </p>
                      <div class="collapse" id="collapseExample" style="margin-bottom: 1rem;">
                        <div id="history<%= index %>" class="card card-body">
                            <%= item.query %>
                        </div>
                      </div>
                      <hr>
                    <!-- <button class="copy" data-copy-id="1"data-index="<%= index %>">Copy</button> -->
                </div>
            <% }); %>
        </ul>  
    </div>
  </div>

<!--? History Toggleing -->

<!--? Special Toggle's -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel" style="color: black;">Give Your Feedback ⭐</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" style="background: #ebe6e6;" class="btn" data-bs-dismiss="modal">Close</button>
        <button type="button" style="background: rgb(63, 183, 248); color: #ffffff;" class="btn">Send message</button>
      </div>
    </div>
  </div>
</div>

<!--? Special Toggle's -->


    <!-- <h1>Welcome! <%= userData.username %></h1> -->
    <div class="main">
        <div class="feedback" >
            feedback
            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@fat">
                <i  data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Feedback" class="fa-regular fa-comment-dots"></i>
            </button>
        </div>
        <div class="grabber">
            <img src="<%= modifiedImagePath %>" alt="pic" class="userProfile">
        <textarea name="input" id="input" placeholder="Enter Your Recipie Prompt"></textarea>
        <button id="btn"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-move-right"><path d="M18 8L22 12L18 16"/><path d="M2 12H22"/></svg></button>
        </div>
    </div>
    <div class="response">
        <div class="demoItem">
            <h2 style="color: whitesmoke;">Demo Prompts 📃</h2>
            <div class="cpyItem">Generate a recipie of tasty Chicken Biriyani In indian Style.
                <button class="copy" data-copy-id="1" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="Copied">Copy</button>
            </div>
            <div class="cpyItem b">Generate a recipie of dilisious Japanese Food also tell me the steps of cooking.
                <button class="copy" data-copy-id="1" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="Copied">Copy</button>            </div>
            <div class="cpyItem">Generate a recipie of a Tea also mention all the ingrediants used over the process.
                <button class="copy" data-copy-id="1" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="Copied">Copy</button>            </div>
            <div class="cpyItem b">Generate a recipie of a Tea also mention all the ingrediants used over the process.
                <button class="copy" data-copy-id="1" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="Copied">Copy</button>            </div>
            <div class="cpyItem">Generate a recipie of a Tea also mention all the ingrediants used over the process.
                <button class="copy" data-copy-id="1" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="Copied">Copy</button>            </div>
            <div class="cpyItem b">Generate a recipie of a Tea also mention all the ingrediants used over the process.
                <button class="copy" data-copy-id="1" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="Copied">Copy</button>            </div>
            <div class="cpyItem ">Generate a recipie of a Tea also mention all the ingrediants used over the process.
                <button class="copy" data-copy-id="1" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="Copied">Copy</button>            </div>
        </div>
            <div id="result">
                <img id="bot" src="https://tse3.mm.bing.net/th?id=OIP.JU23CZMWiiKqQJl1mKiXQQHaHa&pid=Api&P=0&h=180" alt="">
                <h4>Start Generating Your Favourite Recipie's😋</h4>
            </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>

